<h3>
  <%= @post.headline %>
</h3>

<p>
  By <%= @post.user.email %>
</p>

<div class="image-container">
  <img class="photo" src="<%= @post.photo.url %>" />
</div>

<p>
  <%= @post.description %>
</p>

<p>
  <%= pluralize(@post.likes.length, 'like') %>
</p>

<%= form_with scope: :like, url: likes_path, local: true do |form| %>
  <p>
    <%= form.hidden_field :post_id, :value => @post.id %>
    <%= form.submit "Like" %>
  </p>
<% end %>
